@page "/requests"
 @inject AppState AppState
 @inject NavigationManager NavigationManager
@using KwikMedicalHospital.HospitalCenter.Database.DataModel

<h3>Curently logged into @Hospital</h3>
<p>Logged as: @Employee.Username </p>
<input type="submit" value="Logout" onclick=@Logout class="btn btn-primary" />

@if (requests == null)
{
    <p><em>No Requests Available</em></p>    
}
else
{
    <table class='table' OnReady="OnTableReady"  Selection="true" SelectionMode="TableSelectionMode.Single" >
        <thead>
            <tr>
                <th>Severity</th>
                <th>NHS Number</th>
                <th>Patient Name</th>
                <th>Incident's Location'</th>
                <th>Condition</th>
                <th>Message</th>
                <th>Time Received</th>
            </tr>
        </thead>
        <tbody>

            @foreach (AllocatedRequest req in requests)
            {
                <tr>
                    <td>@req.Request.Severity</td>
                    <td>@req.Request.NHSNumber</td>
                    <td>@req.Request.PatientName</td>
                    <td>@req.Request.Address</td>
                    <td>@req.Request.Condition</td>
                    <td>@req.Request.Message</td>
                    <td>@req.Request.TimeReceived</td>
                    <input type="submit" value="Handle Request" onclick=@HandleRequest class="btn btn-primary" />
                </tr>            
            }
        </tbody>
    </table>
}

@code {

    public string Hospital { get; set; } = "";
    public Employee Employee { get; set; } = new Employee("", "", "");
    public List<AllocatedRequest> requests { get; set; }

    protected override void OnInitialized()
    {
        if (AppState.Hospital is null || AppState.Employee is null)
        {
            return;
        }
        else
        {
            Hospital = AppState.Hospital;
            Employee = AppState.Employee;
            requests = AppState.Requests;
        }
        requests = ManageIncidentResponse.getAllRequests(Hospital);
        AppState.Requests = requests;
    }

    public void HandleRequest()
    {
        AppState.Request = requests[0]; 
        NavigationManager.NavigateTo("/details");
    }

    public void Logout()
    {
        AppState.Employee = null;
        AppState.Hospital = null;
        NavigationManager.NavigateTo("/");
    }
}
